<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/css_includes', {}) %>
        <title>Z-Monitor</title>
</head>

<body>
    <%- include('../templates/js_includes', {}) %>
        <%- include('../templates/nav_bar', {}) %>
            <!-- <h1>
            Welcome to Z-Montor BI (welcome <%= user_name_val %>)
        </h1> -->
            <style>
                #main_box {
                    margin-left: auto;
                    margin-right: auto;
                    width: 600px;
                    height: 600px;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                .sub_sec_box {
                    width: 100%;
                    height: 80px;
                    border: #9e9e9e 1px solid;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 8px;
                }

                .sub_sec_cont span {
                    margin-left: 20px;
                }

                .sub_sec_card {
                    padding: 12px;
                    width: 100px;
                    height: 60px;
                    background-color: #2196f3;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                    transition: 0.5s ease;
                    text-align: center;
                }

                .sub_sec_card:hover {
                    border: #2196f3 1px solid;
                    color: #2196f3;
                    background-color: white;
                }

                .action_btn {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #2196f3;
                    color: white;
                    transition: 0.5s ease;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                .action_btn:hover {
                    border: #2196f3 1px solid;
                    color: #2196f3;
                    background-color: white;
                }
            </style>
            <div id="main_box" class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="sub_sec_cont">
                    <span>
                        Data Warehouses
                    </span>
                    <div class="sub_sec_box" id="dwh_cards_cont">
                    </div>
                </div>
                <div class="sub_sec_cont">
                    <span>
                        KPI profiles
                    </span>
                    <div class="sub_sec_box" id="kpi_cards_cont"></div>
                </div>
                <div class="sub_sec_cont">
                    <span>
                        Data APIs
                    </span>
                    <div class="sub_sec_box" id="api_cards_cont"></div>
                </div>
            </div>

            <script>
                const test_data_dwhs = [
                    {
                        data_whs_id: 0,
                        data_whs_name: 'POS'
                    },
                    {
                        data_whs_id: 1,
                        data_whs_name: 'Inventory'
                    },
                    {
                        data_whs_id: 2,
                        data_whs_name: 'Sales'
                    }
                ];
                const kpi_profiles = [
                    {
                        kpi_profile_id: 0,
                        kpi_profile_name: 'POS'
                    },
                    {
                        kpi_profile_id: 1,
                        kpi_profile_name: 'Inventory'
                    },
                    {
                        kpi_profile_id: 2,
                        kpi_profile_name: 'Sales'
                    }
                ];
                const data_apis = [
                    {
                        api_id: 0,
                        api_name: 'POS'
                    },
                    {
                        api_id: 1,
                        api_name: 'Inventory'
                    },
                    {
                        api_id: 2,
                        api_name: 'Sales'
                    }
                ];

                function get_sub_sec_card(card_name, action_route) {
                    return `<div class="sub_sec_card shadow p-3 mb-5 rounded" onclick="${action_route};">${card_name}</div>`;
                }

                function get_action_btn(btn_action) {
                    return `<div class="action_btn shadow p-3 mb-5" onclick="${btn_action}"><i class="fas fa-plus"></i></div>`;
                }

                $(document).ready(() => {
                    let dwhs_html = '';
                    test_data_dwhs.forEach((x) => {
                        dwhs_html += get_sub_sec_card(x['data_whs_name'], `window.location.href = \'/preview_dwhs?dwhs_id=${x['data_whs_id']}\';`);
                    });
                    dwhs_html += get_action_btn(`(() => { alert('add_whs'); })();`);

                    let kpis_html = '';
                    kpi_profiles.forEach((x) => {
                        kpis_html += get_sub_sec_card(x['kpi_profile_name'], `window.location.href = \'/preview_kpi?kpi_id=${x['kpi_profile_id']}\';`);
                    });
                    kpis_html += get_action_btn(`(() => { window.location.href = \'/add_kpi_profile\'; })();`);

                    let apis_html = '';
                    data_apis.forEach((x) => {
                        apis_html += get_sub_sec_card(x['api_name'], `window.location.href = \'/edit_api?api_id=${x['api_id']}\';`);
                    });
                    apis_html += get_action_btn(`(() => { alert('add_api'); })();`);

                    $('#dwh_cards_cont').html(dwhs_html);
                    $('#kpi_cards_cont').html(kpis_html);
                    $('#api_cards_cont').html(apis_html);
                });
            </script>
</body>

</html>